.bar{
    position: fixed;
    top: 0;
    bottom: -120px;
    z-index: 1;
    background: var(--white);
    width: 150px;
    box-shadow: 1px 0px 11px rgba(0,0,0,0.2);
}

.bar-container{
    position: fixed;
    float: left;
    width: 150px;
}

.bar-list{
    clear: left;
    margin: 12px 0;
    list-style: none;
    padding: 0;
}

.bar-list-item{
    position: relative;
    padding: 15px 0;
    text-align: center;
}

.bar-list-item:hover{
    background: var(--grey);
}