.bar{
    width: 80%;
    height: 60px;
    border-radius: 50%;
    color: #ffffff;
    background: var(--primary);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
}

.bar-toggle{
    display: none;
}

.bar.mobile{
    display: none;
}

.bar-container{
    display: block;
    width: 100%;
}

.bar-list{
    list-style-type: none;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.bar-list-item{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media only screen and (max-width: 620px) {
    .bar-list{
        display: none;
    }
    .bar-toggle {
        display: block;
    }
}