<h1 class="mont" style="text-align: center;">Components</h1>
<h2 class="mont">FAB</h2>
<fab fabIcon="arrow_forward" fabLink="/components"></fab>
<h2 class="mont">Button</h2>
<cal-button calLink="/components">Download it</cal-button>
<h2 class="mont">Pillbox</h2>
<pillbox price="4">Purchase</pillbox>
<h2 class="mont">Tag</h2>
<tag>Popular</tag>
<dropdown></dropdown>
<h2 class="mont">Product Card</h2>
<product-card
 productType="Audio"
 productName="Portable Audio Device"
 productDescription="Lorem ipsum dolor, sit amet consectetur adipisicing elit. At enim quidem laborum iure debitis libero, rerum quisquam sunt quaerat, eveniet maxime quae.">
    <div cal-projection>
        <cal-button calLink="/components">
            Buy Now
        </cal-button>
    </div>
</product-card>
<bar></bar>