/* You can add global styles to this file, and also import other style files */
.mont{
    font-family: 'Montserrat', sans-serif;
}

.lato{
    font-family: 'Lato', sans-serif;
}

:root {
    --primary: #f9593a;
}