/* You can add global styles to this file, and also import other style files */
.mont{
    font-family: 'Montserrat', sans-serif;
}

.lato{
    font-family: 'Lato', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    color: var(--yellow);
    background: var(--secondary);
}

:root {
    --primary: #7e57c2;
    --secondary: #292d3e;
    --blue: #73ddff;
    --yellow: #ffcb6b;
    --grey: #cccccc;
}

.section{
    padding: 35px;
    background: var(--secondary);
}